$default: linear-gradient(77deg,#f5286e,#fc6d43);
$greenGradient: linear-gradient(270deg,#76e672 0,#41c83e 100%);
$blueGradient: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);

$pink: #f5286e;
$white: #ffffff;
$black: #000000;
$lightBlack: #1e1f22;
$gray: #78797a;
$tripleC: #cccccc;

.bg-pink-gradient {
  background: $default;
}

.bg-green-gradient {
  background: $greenGradient;
}

.bg-blue-gradient {
  background: $blueGradient;
}

.text-default {
  background: $default;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
